/webpage/DocPage/public
software/Marek-test/.vscode/launch.json
software/Marek-test/.pio/build/project.checksum
software/Marek-test/.vscode/c_cpp_properties.json
software/Marek-test/.vscode/launch.json
